.errorText {
  color: red;
  font-weight: bold;
}

.dataFrame {
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
  padding-top: 5px;  
}

.largeFrame {
  width: 850px;
}

.shortFrame {
  width: 400px;
}

.actionsColl {
  text-align: center;
}

td {
  width: 200px;
}
